#clock {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto 0 auto;
    background: url(../img/clock/clockface.png) no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 10px;
    height: 200px;
    top: 0px;
    left: 95px;
}

#sec {
    background: url(../img/clock/sechand.png);
    z-index: 3;
}

#min {
    background: url(../img/clock/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../img/clock/hourhand.png);
    z-index: 1;
}

#purse {
    position: absolute;
    top: 130px;
    left: 100px;
    z-index: 4;
}