/* 
    Document   : main
    Created on : 14.10.2012, 15:17:59
    Author     : bolbin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    display: block;
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 12pt;
    background: #F0F1F2 url('../img/common_bg.png') repeat-x;
    text-align: center;
}
/** верхняя полоска*/
.header_top{
    height: 30px;
    width: 100%;
    background-color: #505050;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    vertical-align: middle;
    text-align: center;
}

.header_top_div{
    width: 1000px;
    text-align: right;
    height: 30px;
}

/** содержимое*/
.main_content{
    width: 1000px;
    min-width: 1000px;
    -moz-box-shadow: 5px 5px 15px #B4C0C5, -5px 5px 15px #B4C0C5;
    -webkit-box-shadow: 5px 5px 15px #B4C0C5, -5px 5px 15px #B4C0C5;
    box-shadow: 5px 5px 15px #B4C0C5,-5px 5px 15px #B4C0C5;
    background-color: #fff;
    font-size: 12pt;
    font-family: Arial;
    z-index: 0;
    margin-bottom: 20px;
}

.header{
    height: 380px;
    background: url('../img/bg_header.png') repeat-x;
    padding: 0;
}

.header_logo{
    width: 300px;
    vertical-align: middle;
    text-align: right;
    
}

.header_contacts{
    background: url('../img/money.jpg') no-repeat;
    background-position: bottom right;
    height: 380px;
    width: 100%;
    text-align: left;
    padding-top: 20px;
}

.menu{
    color: #fff;
    width: 100%;
    height: 60px;
    background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}


.menu ul {
 font-size: 14pt;
 margin: 0;
 padding: 0;
 list-style: none;
 height: 60px;
}
.menu li {
 display: inline;
 float: left;
 width: 25%;
}
.menu li a {
 display: block;
 padding: 7px 20px;
 color: #fff;
 margin-right: 2px;
 height: 45px;
 padding-top: 20px;
 text-decoration: none;
}
.menu li a:hover {
 display: block;
 color: #cfcfcf;
 background-color: #1E5799;
 margin-right: 2px;
 padding-top: 20px;
 height: 30px;
 text-decoration: underline;
}
.menu li span {
 display: block;
 padding: 6px 20px;
 color: #F3F700;
 height: 45px;
 padding-top: 20px;
}

.textcontent{
    font-size: 14pt;
    text-align: justify;
    padding: 20px 20px 30px 20px;
    color: #505050;
}

.textcontent a{
    color: #63ADD9;
    text-decoration:  none;
    font-weight: bold;
}

.textcontent a:hover{
    color: #64ADDA;
    text-decoration:  underline;
    font-weight: bold;
}


.edit_form{
    margin: 20px;
}

.edit_form td{
    padding: 5px;
}

.edit_form td input[type=text]{
    border: 1px solid #4881F2;
    width: 250px;
    font-size: 12pt;
}

.edit_form td input[type=submit]{
    border: 1px solid #4881F2;
    background-color: #4881F2;
    color: #fff;
    border-radius: 3px;
    font-size: 12pt;
}

.edit_form td textarea{
    width: 350px;
    height: 200px;
    border: 1px solid #4881F2;
    font-size: 12pt;
    
}

/** подвал*/
.bottom{
    height: 5%;
    font-size: 11pt;
    width: 100%;
    color: #505050;
}